.modal__page-container {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.386);
}

.modal__form-container {
  width: 568px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 150px;
}
