.signup-form__page-container {
  background: no-repeat center center fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.singup-form__form-container {
  width: 568px;
  min-height: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.signup-form__add-photo-container {
  border: 1px solid black;
  width: 100%;
}

.signup-form__photo-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 5px;
}
