.home-page-container {
  background: url('https://images.unsplash.com/photo-1499363536502-87642509e31b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80')
    no-repeat center center fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-input-bar-container {
  background-color: rgb(255, 255, 255);
  width: 850px;
  display: flex;
  height: 65px;
  margin-top: 100px;
  border-radius: 50px;
  position: relative;

  /* justify-content: space-between; */
}

.search-label-input-container,
.start-date-container,
.end-date-container,
.search-input-guests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  transition: 0.35s;
  position: relative;
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 100%;
  transition: 0.35s;
}

.location-input-container:hover,
.location-input-container:active {
  border-radius: 50px;
  box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.5);
}

.location-input {
  width: 90%;
}

.location-input::placeholder {
  font-size: 14px;
}

.start-end-date-input-container {
  display: flex;
}

.location-input-container.focus {
  border-radius: 50px;
  box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.5);
}

.location-input {
  border: none;
  background-color: rgb(255, 255, 255);
}

.location-input:focus {
  outline: none;
}

.verticle-divider {
  border-left: 1px solid #acacaca5;
  display: flex;
  margin-top: 12px;
  height: 60%;
  /* margin-right: 30px; */
}

.verticle-divider.hidden {
  border-left: 1px solid transparent;
}

.search-bar-label {
  margin-right: 50px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.search-bar-placeholder-label {
  font-size: 14px;
  color: var(--light-text-color);
}

.start-date-container,
.end-date-container {
  padding-right: 40px;
  padding-left: 30px;
  width: auto;
}

.start-date-container:hover,
.start-date-container:active,
.end-date-container:hover,
.end-date-container:active,
.search-input-guests-container:hover,
.search-input-guests-container:active {
  border-radius: 50px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

.search-button-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff385c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.35s;
}

.search-button-container.inactive {
  pointer-events: none;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.413);
  color: black;
}

.search-button-container:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.934);
  background-color: white;
  color: #ff385c;
}

.search-button-container:hover > * {
  color: #ff385c;
}

.search-button-icon {
  color: white;
  font-size: 20px;
}

.search-input-guests-container {
  margin-right: 40px;
}

.search-input-bar-container > * {
  user-select: none;
}

.start-date-container,
.end-date-container,
.search-input-guests-container {
  cursor: pointer;
}

.end-button.bold,
.start-button.bold {
  color: black;
}

.home-search-autocomplete-container {
  position: relative;
}

.home-autocomplete-dropdown-container {
  position: absolute;
  top: 60px;
  left: -25px;
}

.suggestion-item.search,
.suggestion-item--active.search {
  border-bottom: 1px solid #acacac;
  padding: 1rem;
}

.suggestion-item.search:first-child,
.suggestion-item--active.search:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}

.suggestion-item.search:last-child,
.autocomplete-dropdown-container.search {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.suggestion-item.search:hover:last-child,
.autocomplete-dropdown-container.search {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-bar-guests-container {
  width: 300px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 550px;
  border-radius: 20px;
  z-index: 100;
  position: absolute;
  top: 150px;
}

.search-minus-button,
.search-plus-button {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.468);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: initial;
  position: relative;
  cursor: pointer;
}

.search-plus-button.inactive,
.search-minus-button.inactive {
  cursor: not-allowed;
  opacity: 0.2;
}

.search-minus-button:hover,
.search-plus-button:hover {
  border: 1px solid rgba(19, 19, 19, 0.851);
}

.search-plus-button.inactive:hover,
.search-minus-button.inactive:hover {
  cursor: not-allowed;
  border: 1px solid rgba(0, 0, 0, 0.468);
  opacity: 0.2;
}

.search-minus-icon,
.search-plus-icon {
  color: black;
  font-size: 20px;
  z-index: -20;
}

.search-minus-icon.inactive,
.search-plus-icon.inactive {
  color: black;
}

.search-minus-icon.inactive:hover,
.search-plus-icon.inactive:hover {
  cursor: not-allowed;
}

.clear-button {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.105);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  z-index: 1;
  transition: 0.35s;
}

.clear-button:hover {
  background-color: #ff385c;
  color: white;
}

.home-page__random-search {
  display: flex;
  margin-top: 50px;
}

.home-page__random-search-button {
  width: 180px;
  height: 60px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: 0.35s;
  cursor: pointer;
  user-select: none;
  color: var(--primary-color);
}

.home-page__random-search-button:hover {
  background-color: var(--primary-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
