.slider {
  position: relative;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-slider {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .small-photo-slider {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.listing-image {
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

.small-listing-image {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.large-listing-image {
  width: 1120px;
  height: 630px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
}
