.edit-res-modal__page-container {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.406);
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1125px;
}

.edit-res-modal__form-container {
  width: 450px;
  height: 250px;
  background-color: white;
  position: absolute;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.edit-res-modal__date-container {
  margin-top: 50px;
  box-shadow: var(--light-box-shadow);
  border-radius: 20px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.edit-res-modal__start-container,
.edit-res-modal__end-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
}

.edit-res-modal__start-container:hover,
.edit-res-modal__end-container:hover {
  box-shadow: var(--heavy-box-shadow);
}

.edit-res-modal__start-label,
.edit-res-modal__end-label {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 0;
}

.edit-res-modal__buttons {
  margin-top: 20px;
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.edit-res-modal__update-button {
  border: 1px solid transparent;
  background-color: green;
  color: white;
  transition: 0.35s;
}

.edit-res-modal__update-button.inactive {
  pointer-events: none;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.413);
  color: black;
}

.edit-res-modal__close-button {
  border: 1px solid transparent;
  background-color: #c70000;
  color: white;
  transition: 0.35s;
}

.edit-res-modal__update-button:hover {
  border: 1px solid green;
  background-color: white;
  color: green;
}

.edit-res-modal__close-button:hover {
  border: 1px solid #c70000;
  background-color: white;
  color: #c70000;
}

.edit-res-modal__guests-container {
  display: flex;
  box-shadow: var(--light-box-shadow);
  margin-top: 20px;
  border-radius: 20px;
  width: 70%;
  height: 50px;
}

.edit-res-guests-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 5;
}

.edit-res-count-selector-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.edit-res__guests-text {
  /* margin-left: 50px; */
}

.edit-res__minus-button,
.edit-res__plus-button {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.468);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: inherit;
  position: relative;
  cursor: pointer;
}

.edit-res__plus-button.inactive,
.edit-res__minus-button.inactive {
  cursor: not-allowed;
  opacity: 0.2;
}

.edit-res__minus-button:hover,
.edit-res__plus-button:hover {
  border: 1px solid rgba(19, 19, 19, 0.851);
}

.edit-res__plus-button.inactive:hover,
.edit-res__minus-button.inactive:hover {
  cursor: not-allowed;
  border: 1px solid rgba(0, 0, 0, 0.468);
  opacity: 0.2;
}

.edit-res__minus-icon,
.edit-res__plus-icon {
  color: black;
  font-size: 20px;
  z-index: -5;
}
