.navbar-container {
  width: 100vw;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  position: fixed;
  background: transparent;
  z-index: 1;
}

.navbar-container-left {
  display: flex;
  padding-left: 3rem;
}

.navbar-container-right {
  display: flex;
  padding-right: 3rem;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-button {
  display: flex;
  width: 77px;
  background-color: white;
  height: 42px;
  border-radius: 50px;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}

.site-name {
  color: white;
  font-size: 30px;
}

