.navbar-container {
  width: 100vw;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.105);
  z-index: 1;
  padding-top: 2rem;
}

.navbar-container.absolute {
  position: fixed;
  background: transparent;
}

.navbar-container-left {
  display: flex;
  padding-left: 3rem;
}

.navbar-container-right {
  display: flex;
  padding-right: 3rem;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
}

.profile-button {
  display: flex;
  width: 77px;
  background-color: white;
  height: 42px;
  border-radius: 50px;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  position: relative;
  cursor: pointer;
}

.site-name {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.list-icon {
  font-size: 20px;
  margin-left: 7px;
}

.profile-dropdown {
  background-color: white;
  height: 300px;
  width: 230px;
  position: absolute;
  right: 65px;
  top: 85px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.379);
}

.link-decoration {
  color: inherit;
  text-decoration: none;
}

.link-decoration:visited {
  color: inherit;
}

.profile-dropdown-element {
  width: 100%;
  height: 80px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.profile-dropdown-element:first-child {
  cursor: default;
}

.profile-links:hover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.064);
}

.border-top-element {
  border-top: 1px solid rgba(0, 0, 0, 0.221);
}

.profile-links:hover:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.profile-links:last-child {
  color: rgba(255, 0, 0, 0.844);
}
